body {
    background-color: rgb(255, 233, 241);
  }
  
  h1 {
    color: rgb(0, 0, 0);
    text-align: center;
  }
  
  h2 {
   
        color: rgb(12, 6, 6)9, 9, 9);
        text-align: center;
    
  }
  p {
    font-family: verdana;
    font-size: 25px;
    text-align: center;
  }